.navbar {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.adminBtn {
  display: flex;
  gap: 8px;
  align-items: center;
}
